html {
  padding: 0;
  margin: o;

  font: normal 100%/1.4 Georgia,serif;
}

body {

  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
  background-color: #f5f5f5;
}

.current {
  background-color: #000531;
  color: #fff;
}

.nav {
  margin-left: 10px;
  padding: 0;
  font-size: 1.25rem;
  list-style-type: none;
}

.nav > li {
  display: inline-block;
}
.nav > li > a {
  text-decoration: none;
  margin: 10px;
}
